.display {
  display: flex;
  justify-content: flex-end;
  margin: 15px 20px;
  padding: 25px;
  background-color: darkslategray;
  border-radius: 50px;
  width: 320px;
  color: white;
  font-size: 2rem;
}
